@media screen and (max-width:680px){
    header{
        background-color: rgb(0, 0, 0);
        display: flex;
        height: 90px;

    }
    .h1Inicio {
        font-size: 20px;
        display: flex;
        justify-content: center;
        text-align: center;
        color: aliceblue;
        width: 322px;
    }
    .span1{
        color:rgb(74, 161, 243);
    }
    .divh1 {
        height: 80%;
        width: 83px;
    }
   ul li{
    list-style: none;
   }
    a {
        font-size: 12px;
        
        margin: 0px;
    }
    .nav1{
        display:flex;
        justify-content:flex-start;
    }
   
    ul {
        justify-content: flex-end;
        gap: 10px;
        padding-right: 69px;
    }
    /* ------------------------------------ */
    .sectionTextos {
        height: 320px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .h4Expertos{
        font-size: 40px;
    }
    .ParrafoLorem{
        font-size: 15px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items:center;
    }

    .datos{
       font-size:15px;
    }
    .correo {
        width: 92px;
        height: 32px;
        font-size: 11px;
        border-radius: 16px;
        text-align: center;
    }
    .boton {
        width: 99px;
        height: 38px;
        border-radius: 12px;
        font-size: 16px;
    }
    .contenedores{
        height:  1200px;
    }
    .lenguajes {
        height: 1200px;
        width: 300px;
        display: flex;
        flex-direction: column;
    }
    footer {
        height: 50px;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}
